{{template "base" .}}

{{define "title"}}Staff #{{.Staff.ID}}{{end}}

{{define "main"}}
    {{with .Staff}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.FullName}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Email}}</code></pre>
            <div class='metadata'>
                <time>Created: {{.Status}}</time>
                <time>Expires: {{humanDate .DateAdded}}</time>
            </div>
        </div>
    {{end}}
{{end}}